{% extends 'base.html.twig' %}

{% block title %}Youtube Videos!{% endblock %}

{% block container %}

    <div class="row col-4 ">
        {% for youtube in youtubes %}
            <img src="{{ youtube.url|youtube_thumbnail }}" alt="{{youtube.name }}"></img>
            <a href="{{ path('app_video', {id:youtube.id}) }}">{{ youtube.name }}</a>
        {% endfor %}
    </div>
    
    <div class="row mb-2" id="addVideo">
        <h1>Ajouter une vidéo !</h1>
        {{ form(form) }}
    </div>
    
{% endblock %}
